
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Products</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/fragments.css">
</head>
<body>

	<!-- Sidebar -->
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>

	<div class="main">
		<!-- Header -->
		<div th:replace="~{fragments/header :: header}"></div>

		<!-- Main Content -->
		<div class="content">
			<h2>Product List</h2>
			<button class="edit-btn" onclick="createProduct()">Add</button>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Description</th>
						<th>Color</th>
						<th>Type</th>
						<th>Price</th>
						<th>Manufacture Date</th>
						<th>Expiration Date</th>
						<th>Category</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="productTableBody">
					<!-- Products will be dynamically added here -->
				</tbody>
			</table>
		</div>
	</div>
	<script src="/js/product.js"></script>
</body>
</html>
